


.header-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #242582;

}

.header-grid img {
    grid-column: 1 / 1;
    grid-row: 1/1;
    border-radius: 5px;
    outline-color: #242582;
}
.header-grid nav{
    grid-column: 2 / 5;
    grid-row: 2/2;
    border-radius: 5px;
    
    
}

.header-grid h1 {
    grid-column: 2 / 5;
    grid-row: 1/1;
    /* margin-top: auto; */
    margin: 0 auto;
    color: #F64C72;
    

}



body {
    background-color: #2F2FA2;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Proza Libre', sans-serif;
    color: White;
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
}




.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #242582;
}

.footer-grid p {
    margin-top: auto;
    text-align: left;
    margin-left: 10px;
    color: #F64C72;
    grid-column: 1 / 4;
    grid-row: 1/1;
}

/* Target audience specific */
.persona_tile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

.persona_tile h4 {
    grid-column: 1 / 5;
    grid-row: 1/1;
    margin-bottom: auto;
    text-align: left;

}

.persona_tile img {
    max-width: 200px;
    grid-column: 1;
    grid-row: 2;

}

.persona_tile p {
    grid-column: 2 / 5;
    grid-row: 2;

    text-align: left;
}

/* color scheme specific */
th {
    color: #F64C72;
}

.primary {
    color: white;
    background-color: #242582;
}

.secondary {
    color: white;
    background-color: #553D67;
}

.accent1 {
    color: white;
    background-color: #F64C72;
}

.accent2 {
    color: white;
    background-color: #99738E;
}

.accent3 {
    color: white;
    background-color: #2F2FA2;
}

/* copy from example */

nav{
    max-width: 960px;
	margin: 0 auto;
    background-color:#242582;
	text-align: center;
	
    display: flex;
	flex-direction: column;
}
nav div {
	flex: 1 1 auto;
}
nav a {
	display: block;
	color:#99738E;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}
nav a:hover {
	background-color:#F64C72;
	color: #2F2FA2;
    border-radius: 10px;
}
@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
}
@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}